<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" forwardWindowsAuthToken="false" stdoutLogEnabled="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44323" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.100\DotnetTools\dotnet-watch\6.0.100-rtm.21527.8\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:53683/RedditEmblemAPI/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAufC4SzoBhRkpme75QP++JN+CN8af4L2bqruslwG3Rlkh7wJP3mNCKuZw92Xwp8LREV+jQYF7m0RAAbghuSrZ7GYCYJZdysyQl4rKFqcNBNv5bwbbtQcnbMqN+aB29kypIAANgWbvov1aMlZSYaOBVz90tm6NrIF5/2pNkD7sYcuj8maKpBj08hopL2ts5g6OsZ6uwqVVmw/jEDZ74nvY+0cpEW+YWUi4S53Qgi/615xUK2KvyYb7utzL6i+edigYpCXNn0KjXixkVGqltX1ohJTnhzWLcKTk/xyXT5RBZlPjGD21BSzLAnOPJg/89/dKUwxNuNfF0OyxS3qC0jAfGQIDAQAB" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>